@font-face {
    font-family: Gordita;
    src: url(../fonts/gordita.woff);
}

* {
    font-family: Gordita, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif in !important;
    color: #31343b;
}

#table-list{
    min-width: 900px !important;
}

#table-dad{
    overflow: auto;
}

.fcc, .fpa, .fta{
    transition: 0.2s !important;
    cursor: pointer;
}
.fcc:hover{
    color: #198754 !important;
}

.fpa:hover{
    color: #FFC107 !important;
}

.fta:hover{
    color: #DC3545 !important;
}

.form-label{
    margin-bottom: -10px !important;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed !important;
    flex-direction: column;
    z-index: 998;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.603);
    transition: 0.2s;
}